<h1>Welcome to Hogwarts</h1>
<h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
<a href="/signup"><button>Sign Up</button></a>
<a href="/login"><button>Log In</button></a>

<% if @user != 0 %>
<%= @user %>
<% end %>
